body {}

.navbar {
	margin: -.5em;
	padding: 15px 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	background-color: #151515;

}

.navbar a {
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	border-radius: 16px;
	background-color: #FFDF00;
	color: #000000;
}

.navbar a.active {
	border-radius: 16px;
	background-color: #FFDF00;
	color: #000000;
}

.navbar .icon {
	display: none;
}

.floatNav {
	float: right;
	padding-right: 5em;
}

.logo {
	padding-left: 2em;
}



@media screen and (max-width: 1117px) {
	.navbar a:not(:first-child) {
		display: none;
	}

	.navbar a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 1117px) {
	.navbar.responsive {
		position: relative;
	}

	.navbar.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.navbar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
